
@font-face {
  font-family: 'Samarkan';
  src: url('../fonts/Samarkan/SAMARN__.TTF') format('truetype'); /* Adjust the path to your font file */
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

